.body {
  font-family: 'Roboto', sans-serif;
}

body {
    background-image: linear-gradient(to top right, #25fcea, #25fcea);
}
.page {
    width: 90%;
    background-color: #ffffff;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
 
  
}
h2 {font-family: 'Roboto';
  
    text-align: center;
    font-size: 26px;
    font-weight: bolder;
    
    
  }


#header {
    margin: 20px;
    font-family: 'Roboto', sans-serif;
   
    font-size: 35px;
    display: inline-block;
    font-weight: 600;
  }


.conter {
    margin-bottom: 3%;
}

.title{
	text-align: center;
    color: #000000;
    font-size: 400%;
    font-weight: bolder;
    font-family: 'Roboto';

}


.desc{
  text-align: justify;
  color: #000000;
  font-size: 200%;
  font-family: 'Roboto';
}

.desc1{
  text-align: justify;
  color: #000000;
  font-size: 23px;
  font-family: 'Roboto';
}





.coloured2 {
    color: #2c297a;
  }
  
.coloured {
    color: #990606;
  }
  
.bolded {
    font-weight: bolder;
  }


.vis-container{
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
	
 
 

  font-family: 'Roboto';
	
}

.vis-container1{

  text-align: center;
  justify-content: center;
  width: 47%;
	
}


.vis-container2{
  display: flex;

  text-align: center;
  justify-content: center;
  width: 69%;
  margin-left: -40px;


	
}

.vis-container4{

  text-align: center;
  justify-content: center;
  width: 70%;
	
}

.vis-container5{

  text-align: center;
  justify-content: center;
  width: 100%;
	
}

.viz-row {
  display: flex;
  flex-direction: row;
}
